.starWrapper {
    display: flex;
    margin: 10px;
    cursor: pointer;
}
  
.star {
    display: flex;
    border-style: solid;
    padding: 0.3rem;
    fill: blue;

}

.starOutline {
    display: flex;
    border-style: solid;
    padding: 0.3rem;
    fill: white;

}

.starActive {
    display: flex;
    border-style: solid;
    padding: 0.3rem;
    fill: yellow;
}
  
.starBox {
    display: flex;
    position: absolute;
    opacity: 0;
    text-align:left;
}
  
.starBox:hover {
    opacity: 1;
    fill: red;
}
  
.visibleStarBox {
    display: flex;
    position: absolute;
    opacity: 1;
}